---
apiVersion: suffiks.com/v1
kind: Application
metadata:
  name: suffiks-ingress
  namespace: ibidem-system
  labels:
    app: suffiks-ingress
spec:
  image: "{{ environ('image') }}:{{ environ('VERSION') }}"
  port: 8080
